/target
temp.db
.idea
.vscode
bindings
experiments
.VSCodeCounter
toy_content/stanza_resources
toy_content/database.db
influx_server/tmp_database.db
py_venv
nlp_server/main.build
nlp_server/main.onefile-build
.zed/settings.json
nlp_server/dist
nlp_server/build
nlp_server/main.spec
toy_content/.nlp_cache