/target
temp.db
.idea
.vscode
bindings
research/scratch
.VSCodeCounter
toy_content/_stanza_resources
toy_content/database.db
influx_core/tmp_database.db
py_venv
nlp_server/main.build
nlp_server/main.onefile-build
.zed/settings.json
nlp_server/dist
nlp_server/build
nlp_server/main.spec
toy_content/_influx_nlp_cache
*/.zed
*/target
surrealtemp.db
influx_core/.env
**/elm-stuff
influx_client/assets/scss/radix-colors
influx_client/src/Pages/Sandbox
GEMINI.md

influx_client/dist
influx_client/.elm-land
influx_client/.env
influx_client/elm-stuff
influx_client/node_modules
influx_client.DS_Store
influx_client*.pem
influx_clientstatic/dist

influx_nlp/main.build/**
influx_nlp/main.onefile-build/**
influx_nlp/main.dist/**