@use "extern/radix-ui-colors.scss" as *;
@use "theme.scss" as *;

#layout-with-sidebars {
    background-color: $white;
    height: 100vh;
    overflow: hidden;

    & div.sidebar {
        flex-shrink: 0;
        width: 400px;
        min-width: 200px;
        height: 100vh;
        overflow-y: auto;
        padding-right: 16px;
        padding-left: 16px;
        background-color: $gray-2;
        resize: horizontal;
        overflow: auto;

        & div.sidebar-inner {
            width: 100%;
            direction: ltr;
        }

    }

    & #sidebar-left {
        border-right: 1px solid $gray-5;
        // position: fixed;
        left: 0;
        top: 0;
        direction: ltr;
    }

    & #sidebar-right {
        border-left: 1px solid $gray-5;
        // position: fixed;
        right: 0;
        top: 0;
        direction: rtl;
    }

    & details.sidebar-widget {
        border: 1px solid $gray-3;
        border-radius: 8px;
        padding: 8px 16px;
        margin: 16px 0;
        background-color: $white;
        box-shadow: $basic-shadow;
        resize: vertical;
        overflow: auto;
        min-height: 48px;

        &:not([open]) {
            resize: none;
            height: 48px !important;
            min-height: 48px;
            max-height: 48px;
            overflow: hidden;
        }

        & summary {
            cursor: pointer;
            user-select: none;
            list-style: none;
            outline: none;
            font-weight: 600;
            padding: 4px 0 8px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 32px;

            &::-webkit-details-marker {
                display: none;
            }

            &::marker {
                display: none;
            }

            border-radius: 4px;

            &:hover {
                background-color: $gray-3;
            }

            &::after {
                content: "▶";
                display: inline-block;
                flex-shrink: 0;
            }
        }

        &[open] summary::after {
            transform: rotate(90deg);
        }

        & .widget-content {
            padding-top: 8px;
        }
    }

    & #center-column {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        flex-shrink: 1;

        & #center-column-topbar {
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $gray-2;
            border-bottom: 1px solid $gray-5;

            & audio {
                margin: 16px;
                width: 100%;
                max-width: 800px;
            }
        }

        & #center-column-content {
            overflow-x: visible;
            overflow-y: scroll;
            z-index: 10;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;

            & #center-column-content-inner {
                margin: 16px;
                max-width: 800px;
            }
        }
    }


}