// default theme reference https://github.com/orefalo/svelte-splitpanes/blob/master/src/lib/internal/default-theme.scss

.splitpanes.panestyletheme {
    .splitpanes__pane {
        @apply bg-white;
        overflow: scroll;
    }

    .splitpanes__splitter {
        @apply bg-gray-300 relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            transition: opacity 0.4s;
            background-color: rgba(0, 0, 0, 0.3);
            opacity: 0;
            z-index: 1;
        }

        &:hover:before {
            opacity: 1;
        }

        &.splitpanes__splitter__active {
            z-index: 2;
            /* Fix an issue of overlap fighting with a near hovered splitter */
        }
    }
}

.panestyletheme {
    &.splitpanes--vertical>.splitpanes__splitter:before {
        left: -3px;
        right: -3px;
        height: 100%;
        cursor: col-resize;
    }

    &.splitpanes--horizontal>.splitpanes__splitter:before {
        top: -3px;
        bottom: -3px;
        width: 100%;
        cursor: row-resize;
    }
}